CORE_API_PORT=8000
CORE_API_READ_HEADER_TIMEOUT=5s
CORE_API_READ_TIMEOUT=15s
CORE_API_WRITE_TIMEOUT=15s
CORE_API_IDLE_TIMEOUT=60s

S3_ENDPOINT=https://s3.ru1.storage.beget.cloud
S3_REGION=ru-1
S3_BUCKET=f344c4df1966-dnp-project
S3_ACCESS_KEY=replace_me
S3_SECRET_KEY=replace_me
S3_PUBLIC_BASE_URL=https://s3.andycodes.ru

POSTGRES_HOST=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=l0lz@@@@@3@@@
POSTGRES_DB=core
POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable

KAFKA_EXTERNAL_HOST=localhost
KAFKA_EXTERNAL_PORT=9094