CORE_API_PORT=8000
CORE_API_READ_HEADER_TIMEOUT=5s
CORE_API_READ_TIMEOUT=15s
CORE_API_WRITE_TIMEOUT=15s
CORE_API_IDLE_TIMEOUT=60s
CORE_API_UPLOAD_MAX_BYTES=52428800
CORE_API_DOWNLOAD_URL_EXPIRES=15m
CORE_API_TRANSCODE_JOB_PRIORITY=1

S3_ENDPOINT=replace_me
S3_REGION=replace_me
S3_BUCKET=replace_me
S3_ACCESS_KEY=replace_me
S3_SECRET_KEY=replace_me
S3_PUBLIC_BASE_URL=https://replace_me

POSTGRES_HOST=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=replace_me
POSTGRES_DB=core
POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable

KAFKA_EXTERNAL_HOST=localhost
KAFKA_EXTERNAL_PORT=9094
KAFKA_BROKERS=kafka:9092
KAFKA_TRANSCODE_TOPIC=transcode-jobs
KAFKA_WRITE_TIMEOUT=10s
KAFKA_READ_TIMEOUT=10s

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
